window#waybar {
  border-right: 1px solid rgba(0,0,0,0.2);
}

#workspaces {
  margin: 5px;
}

#workspaces button {
  color: rgba(255,255,255,0.4);
}

#workspaces button.active {
  color: #fff;
}

#battery {
  font-size: 28px;
}

#network {
  font-size: 28px;
}

#clock.hour {
  font-weight: bold;
  margin-top: 15px;
}

#clock.minute {
  color: rgba(255,255,255,0.75);
}
