
* {
  font-family: JetBrainsMono Nerd Font Mono;
}


window#waybar {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

#workspaces {
  margin: 5px;
}

#workspaces button {
  color: rgba(255,255,255,0.4);
}

#workspaces button.active {
  color: #fff;
}

#window {
  font-size: 14px;
}

#battery {
  font-size: 16px;
}

#tray {
  margin: 10px;
}
